@inherits LayoutComponentBase

<PageTitle>Blazor Static Site</PageTitle>
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    <main>
        @* <div class="top-row px-4">
            <a href="mailto:info@assetcontrol.com.au" target="_blank">Contact</a>
        </div> *@

        <NavMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Footer />